* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 700px;
  gap: 50px;
}
.app_heading {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
  color: rgb(60, 112, 223);
}
.file_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgb(248, 206, 248);
  padding: 40px 200px;
  border-radius: 10px;
}
.convert_btn {
  padding: 10px 40px;
  color: #fff;
  background: rgb(60, 112, 223);
  font-size: 20px;
  font-family: sans-serif;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
